/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Making so that 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
input,
label,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: rgba(255, 255, 255, 0.383);
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: #27394e;
  color: white;
}

/* Navigation, Section with Hero */
.main-header {
  background: #131c27;
  color: white;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  font-family: "Pattaya", sans-serif;
  flex: 2 1 40rem;
  font-weight: normal;
  animation: textAnimation 1.5s infinite;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h3 {
  padding: 3rem;
}

/* Location Page - Section */
#location {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.location-header {
  width: 90%;
  margin: auto;
}

.location-header h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
}

.location-header h3 {
  padding: 4rem 0rem;
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  pointer-events: none;
}

.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 4s infinite alternate ease-in-out;
}

/* Benefits Page - Section */
.benefits-header {
  background: #131c27;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.benefits-header h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}

.card h4 {
  padding: 3rem;
}

.card p {
  padding: 1rem;
}

.card-icon {
  background: #131c27;
}

/* Contact Page */
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/contact-mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: white;
  border-radius: 20px;
}

.form-header {
  text-align: center;
  padding: 4rem;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.form-wrapper input {
  padding: 1rem 2rem;
}

footer {
  color: white;
  background: rgba(19, 28, 39, 1);
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

footer h5 {
  flex: 1 1 40rem;
}

footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  align-items: center;
}

.footer-wrapper li {
  padding: 2rem;
}

/* Animations */
@keyframes cloudAnimation {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes textAnimation {
  0% {
    color: red;
  }
  50% {
    color: white;
  }
  100% {
    color: blue;
  }
}

/* Making it Mobile Friendly */
@media screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }

  nav {
    text-align: center;
  }

  #location {
    background-position: 52%;
  }

  #logo {
    font-size: 4rem;
    padding: 2rem;
  }

  .location-header h3 {
    font-size: 2.6rem;
  }
  .moving-cloud-1 {
    height: 45rem;
  }

  .location-header br {
    display: none;
  }

  .moving-cloud-2 {
    height: 17rem;
  }
}

/* For Ipad Views */
/* @media screen and (min-width: 768px) and (max-width 768px) {
  html {
    font-size: 40%;
  }

  nav {
    text-align: center;
  }

  #logo {
    font-size: 4rem;
    padding: 2rem;
  }

  .location-header h3 {
    font-size: 2.6rem;
  }
  .moving-cloud-1 {
    height: 20rem;
  }

  .moving-cloud-2 {
    height: 50rem;
  }
} */
